.about-inner {
  padding: 0 0 0;
  background: #1a263a no-repeat center / cover;
}

.about-inner .about-inner-wrap {
  display: flex;
  flex-wrap: wrap;
}

.about-inner .about-inner-left {
  width: 42%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 17px 0 0;
}

.about-inner .about-inner-info {
  width: 58%;
  display: flex;
  align-items: center;
  padding: 30px 0 30px 64px;
}

.about-inner .content-box h1 {
  color: #e2efff;
  padding: 0 0 20px;
  text-align: center;
}

.about-inner .content-box p {
  max-width: 460px;
  margin: 0 auto 0;
  color: #fff;
  text-align: center;
}

@media(min-width:768px) {
  .about-inner .content-box p {
    font-size: 22px;
  }
}

@media(max-width:991px) {
  .about-inner .content-box p {
    font-size: 20px;
  }
}

@media(max-width:767px) {
  .about-inner .about-inner-info {
    padding: 30px 0 30px 30px;
  }

  .about-inner .about-inner-wrap {
    flex-direction: column;
  }

  .about-inner .about-inner-left {
    width: 100%;
    text-align: center;
  }

  .about-inner .about-inner-info {
    width: 100%;
    padding: 30px 0;
  }

  .about-inner .content-box {
    width: 100%;
  }
}